@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&display=swap");
/*letras para los h1*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;700&family=Open+Sans&display=swap");
/*letras para los titilos*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
/*letras para el body*/
body {
  background-color: #33363c;
  font-family: "Open Sans", sans-serif;
  color: white;
}
body h1 {
  font-family: "Anton", sans-serif;
}
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
body .navegacion li {
  list-style: none;
}

.navbar {
  padding: 2rem;
  margin-bottom: 100px;
  background-color: #6edff6;
}
.navbar .navbar-collapse {
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-nav {
  font-size: 1.4rem;
}

/* index */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container #titulo_principal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edebd7;
  font-size: 3em;
  text-decoration: underline;
  text-decoration-color: #6edff6;
}
.container .titulo-secundario {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: #edebd7;
  text-decoration: underline;
  text-decoration-color: #6edff6;
}
.container .img-principal {
  height: 50vw;
  margin: 15px;
  background-color: #33363c;
}
.container .texto-principal {
  font-size: 1.4em;
  padding: 8px;
  margin-bottom: 30px;
  width: 65%;
}
.container .img-seleccion {
  width: 500px;
  height: 400px;
}

.news {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news #titulo-noticia {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #6edff6;
}

.carousel {
  margin-top: 15px;
  margin-bottom: 55px;
  padding: 5px;
}
.carousel #carouselNoticias .carousel-item img {
  height: 40vw;
}

/* clubes */
.trayectoria {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "trayectoria-peñarol trayectoria-peñarol trayectoria-peñarol" "trayectoria-madrid trayectoria-madrid trayectoria-madrid" "trayectoria-murcia trayectoria-murcia trayectoria-murcia" "trayectoria-denver trayectoria-denver trayectoria-denver" "trayectoria-dallas trayectoria-dallas trayectoria-dallas" "trayectoria-serbia trayectoria-serbia trayectoria-serbia";
}
.trayectoria .texto-equipo {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  padding: 10px;
  margin: 5px;
}
.trayectoria .trayectoria-peñarol {
  grid-area: trayectoria-peñarol;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.trayectoria .trayectoria-madrid {
  grid-area: trayectoria-madrid;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.trayectoria .trayectoria-murcia {
  grid-area: trayectoria-murcia;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.trayectoria .trayectoria-denver {
  grid-area: trayectoria-denver;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.trayectoria .trayectoria-dallas {
  grid-area: trayectoria-dallas;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.trayectoria .trayectoria-serbia {
  grid-area: trayectoria-serbia;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.trayectoria .trayectoria__imagenpeñarol {
  height: 25vw;
}
.trayectoria .trayectoria__imagenmadrid {
  height: 30vw;
}
.trayectoria .trayectoria__imagenmurcia {
  height: 25vw;
}
.trayectoria .trayectoria__imagendenver {
  height: 30vw;
}
.trayectoria .trayectoria__imagendallas {
  height: 20vw;
}
.trayectoria .trayectoria__imagenserbia {
  height: 20vw;
}

/* selección */
.seleccion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "parrafo-seleccion parrafo-seleccion parrafo-seleccion" "seleccion__primerpuesto seleccion__segundopuesto seleccion__tercerpuesto";
}
.seleccion .parrafo-seleccion {
  grid-area: parrafo-seleccion;
  font-size: 1.15em;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.seleccion .accordion {
  margin: 25px;
  padding: 15px;
}
.seleccion .accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seleccion .accordion-button {
  background-color: #6edff6;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.seleccion li {
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
}

/* multimedia */
.highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "highlights__mago highlights__mago" "highlights__nba highlights__seleccion";
}
.highlights .video {
  width: 400px;
  height: 400px;
}
.highlights .highlights__mago {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 550px;
  padding: 15px;
  grid-area: highlights__mago;
}
.highlights .highlights__nba {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: highlights__nba;
}
.highlights .highlights__nba .nba-video {
  width: 90%;
  margin: 5px;
  margin-bottom: 15px;
}
.highlights .highlights__seleccion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: highlights__seleccion;
}
.highlights .highlights__seleccion .seleccion-video {
  width: 90%;
  margin: 5px;
  margin-bottom: 15px;
}

/* contacto */
.formulario {
  font-size: 1.3rem;
  padding: 5px;
  margin: 25px;
  border: 2px solid black;
}

/* mediaqueries */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
/* Media del index */
@media (min-width: 480px) and (max-width: 767px) {
  .container .texto-principal {
    width: 75%;
  }
  .container #titulo_principal {
    font-size: 2.3em;
  }
  .container .img-principal {
    height: 65vw;
  }
  .container #carouselNoticias .carousel-item img {
    height: 50vw;
  }
}
/* Media de los clubes */
@media (min-width: 480px) and (max-width: 767px) {
  .trayectoria {
    display: flex;
    flex-direction: column;
  }
  .trayectoria .trayectoria-peñarol {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-madrid {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-murcia {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-denver {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-dallas {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-serbia {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria__imagenpeñarol {
    margin-left: 20%;
    height: 40vw;
  }
  .trayectoria .trayectoria__imagenmadrid {
    margin-left: 35%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagenmurcia {
    margin-left: 30%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagendenver {
    margin-left: 35%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagendallas {
    margin-left: 10%;
    height: 40vw;
  }
  .trayectoria .trayectoria__imagenserbia {
    margin-left: 10%;
    height: 40vw;
  }
}
/* Media de la Seleccion */
@media (min-width: 480px) and (max-width: 767px) {
  .container .titulo-secundario {
    font-size: 2.6em;
  }
  .container .texto-principal {
    width: 85%;
    font-size: 1.3em;
  }
  .container .img-seleccion {
    width: 400px;
    height: 300px;
  }
  .seleccion .parrafo-seleccion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 15px;
  }
}
/* Media de Multimedia */
@media (min-width: 480px) and (max-width: 767px) {
  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlights .highlights__nba {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__nba .nba-video {
    width: 90%;
    margin: 5px;
  }
  .highlights .highlights__seleccion {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__seleccion .seleccion-video {
    width: 90%;
    margin: 5px;
  }
}
/* Media 480 index */
@media (max-width: 480px) {
  .container .texto-principal {
    width: 90%;
    font-size: 1.2em;
  }
  .container #titulo_principal {
    font-size: 1.55em;
  }
  .container .img-principal {
    height: 60vw;
  }
  .container #carouselNoticias .carousel-item img {
    height: 55vw;
  }
}
/* Media 480 Clubes */
@media (max-width: 480px) {
  .container .titulo-secundario {
    font-size: 1.7em;
  }
  .container .texto-principal {
    width: 100%;
  }
  .trayectoria {
    display: flex;
    flex-direction: column;
  }
  .trayectoria .trayectoria-peñarol {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-madrid {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-murcia {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-denver {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-dallas {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria-serbia {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria__imagenpeñarol {
    margin-left: 15%;
    height: 40vw;
  }
  .trayectoria .trayectoria__imagenmadrid {
    margin-left: 30%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagenmurcia {
    margin-left: 25%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagendenver {
    margin-left: 30%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagendallas {
    margin-left: 5%;
    height: 40vw;
  }
  .trayectoria .trayectoria__imagenserbia {
    margin-left: 5%;
    height: 40vw;
  }
  .trayectoria .texto-equipo {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
  }
}
/* Media 480 Seleccion */
@media (max-width: 480px) {
  .container .titulo-secundario {
    font-size: 2.1em;
  }
  .container .texto-principal {
    width: 90%;
    font-size: 1.2em;
    padding: 0;
  }
  .container .img-seleccion {
    width: 330px;
    height: 230px;
  }
  .seleccion .parrafo-seleccion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
}
/* Media 480 Multimedia */
@media (max-width: 480px) {
  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlights .video {
    height: 335px;
    width: 335px;
    margin: 5px;
  }
  .highlights .highlights__nba {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__nba .nba-video {
    width: 90%;
    margin: 5px;
  }
  .highlights .highlights__seleccion {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__seleccion .seleccion-video {
    width: 90%;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
