@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&display=swap");
/*letras para los h1*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;700&family=Open+Sans&display=swap");
/*letras para los titilos*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
/*letras para el body*/
/* variables */
body {
  background-color: #33363c;
  font-family: "Open Sans", sans-serif;
  color: white;
}
body h1 {
  font-family: "Anton", sans-serif;
}
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
body .navegacion li {
  list-style: none;
}

.navbar {
  padding: 2rem;
  margin-bottom: 100px;
  background-color: #6edff6;
}
.navbar .navbar-collapse {
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-nav {
  font-size: 1.4rem;
}
.navbar .nav-item:hover {
  Transform: scale(1.1);
}

.footer {
  width: 100%;
  background-color: #6edff6;
  margin-top: 50px;
}
.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 20px;
}
.footer .grupo-1 .box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}
.footer .grupo-1 .box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .grupo-1 .box-2 h2 {
  text-decoration: underline;
}
.footer .grupo-1 .box-2 h2, .footer .grupo-1 .box-2 p {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer .grupo-1 .box-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .grupo-1 .box-3 a {
  display: inline-block;
}
.footer .grupo-1 .box-3 h4 {
  color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container #titulo_principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: underline;
  text-decoration-color: #6edff6;
  color: #edebd7;
  font-size: 3em;
}
.container .titulo-secundario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: underline;
  text-decoration-color: #6edff6;
  font-size: 2.5em;
  color: #edebd7;
}
.container .img-principal {
  height: 700px;
  width: 600px;
  margin: 15px;
  background-color: #33363c;
}
.container .texto-principal {
  font-size: 1.4em;
  padding: 8px;
  margin-bottom: 30px;
  width: 65%;
}
.container .img-seleccion {
  width: 500px;
  height: 400px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.news #titulo-noticia {
  text-decoration: underline;
  text-decoration-color: #6edff6;
  font-size: 2.5rem;
}

.carousel {
  margin-top: 15px;
  margin-bottom: 55px;
  padding: 5px;
}
.carousel .carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.carousel .carousel-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.trayectoria {
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "trayectoria-peñarol trayectoria-peñarol trayectoria-peñarol" "trayectoria-madrid trayectoria-madrid trayectoria-madrid" "trayectoria-murcia trayectoria-murcia trayectoria-murcia" "trayectoria-denver trayectoria-denver trayectoria-denver" "trayectoria-dallas trayectoria-dallas trayectoria-dallas" "trayectoria-serbia trayectoria-serbia trayectoria-serbia";
}
.trayectoria .texto-equipo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.1em;
  padding: 10px;
  margin: 5px;
}
.trayectoria .trayectoria-peñarol {
  grid-area: trayectoria-peñarol;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
}
.trayectoria .trayectoria-madrid {
  grid-area: trayectoria-madrid;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
}
.trayectoria .trayectoria-murcia {
  grid-area: trayectoria-murcia;
  display: flex;
  align-items: center;
  padding: 10px;
}
.trayectoria .trayectoria-denver {
  grid-area: trayectoria-denver;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.trayectoria .trayectoria-dallas {
  grid-area: trayectoria-dallas;
  display: flex;
  align-items: center;
  padding: 10px;
}
.trayectoria .trayectoria-serbia {
  grid-area: trayectoria-serbia;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.trayectoria .trayectoria__imagenpeñarol {
  height: 25vw;
}
.trayectoria .trayectoria__imagenmadrid, .trayectoria .trayectoria__imagendenver, .trayectoria .trayectoria__imagenmurcia {
  height: 35vw;
}
.trayectoria .trayectoria__imagendallas, .trayectoria .trayectoria__imagenserbia {
  height: 20vw;
}

.seleccion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "parrafo-seleccion parrafo-seleccion parrafo-seleccion" "seleccion__primerpuesto seleccion__segundopuesto seleccion__tercerpuesto";
}
.seleccion .parrafo-seleccion {
  grid-area: parrafo-seleccion;
  font-size: 1.15em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seleccion .accordion {
  margin: 25px;
  padding: 15px;
}
.seleccion .accordion-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seleccion .accordion-button {
  background-color: #6edff6;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seleccion li {
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "highlights__mago highlights__mago" "highlights__nba highlights__seleccion";
}
.highlights .video {
  width: 400px;
  height: 400px;
}
.highlights .highlights__mago {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 550px;
  padding: 15px;
  grid-area: highlights__mago;
}
.highlights .highlights__nba {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: highlights__nba;
}
.highlights .highlights__nba .nba-video {
  width: 90%;
  margin: 5px;
}
.highlights .highlights__seleccion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: highlights__seleccion;
}
.highlights .highlights__seleccion .seleccion-video {
  width: 90%;
  margin: 5px;
}

.formulario {
  font-size: 1.3rem;
  padding: 5px;
  margin: 25px;
  border: 2px solid black;
}

/* mixin */
/* queries */
/* mediaqueries */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
/* Media del index */
@media (min-width: 480px) and (max-width: 767px) {
  .container .texto-principal {
    width: 75%;
  }
  .container #titulo_principal {
    font-size: 2.3em;
  }
  .container .img-principal {
    height: 85vw;
    width: 70vw;
  }
  .container #carouselNoticias .carousel-item img {
    height: 60vw;
  }
}
/* Media del Footer */
@media (min-width: 480px) and (max-width: 767px) {
  .grupo-1 {
    width: 100%;
    max-width: 767px;
    padding: 15px 10px;
  }
  .grupo-1 .box-2 h2 {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  .grupo-1 .box-2 p {
    font-size: 1rem;
  }
  .grupo-1 .box-3 h4 {
    font-size: 1.1rem;
    text-decoration: underline;
  }
}
/* Media de los clubes */
@media (min-width: 480px) and (max-width: 767px) {
  .trayectoria {
    display: flex;
    flex-direction: column;
  }
  .trayectoria .trayectoria-peñarol,
  .trayectoria .trayectoria-madrid,
  .trayectoria .trayectoria-murcia,
  .trayectoria .trayectoria-denver,
  .trayectoria .trayectoria-dallas,
  .trayectoria .trayectoria-serbia {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria__imagenpeñarol {
    margin-left: 20%;
    height: 40vw;
  }
  .trayectoria .trayectoria__imagenmadrid,
  .trayectoria .trayectoria__imagendenver {
    margin-left: 35%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagenmurcia {
    margin-left: 30%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagendallas,
  .trayectoria .trayectoria__imagenserbia {
    margin-left: 10%;
    height: 40vw;
  }
}
/* Media de la Seleccion */
@media (min-width: 480px) and (max-width: 767px) {
  .container .titulo-secundario {
    font-size: 2.6em;
  }
  .container .texto-principal {
    width: 85%;
    font-size: 1.3em;
  }
  .container .img-seleccion {
    width: 400px;
    height: 300px;
  }
  .seleccion .parrafo-seleccion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 15px;
  }
}
/* Media de Multimedia */
@media (min-width: 480px) and (max-width: 767px) {
  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlights .highlights__nba {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__nba .nba-video {
    width: 90%;
    margin: 5px;
  }
  .highlights .highlights__seleccion {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__seleccion .seleccion-video {
    width: 90%;
    margin: 5px;
  }
}
/* Media 480 index */
@media (max-width: 480px) {
  .container .texto-principal {
    width: 90%;
    font-size: 1.2em;
  }
  .container #titulo_principal {
    font-size: 1.55em;
  }
  .container .img-principal {
    height: 85vw;
    width: 70vw;
  }
  .container #carouselNoticias .carousel-item img {
    height: 65vw;
  }
}
/* Media 480 del Footer */
@media (max-width: 480px) {
  .footer .grupo-1 {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
  }
  .footer .grupo-1 .box-1 {
    padding-bottom: 25px;
  }
}
/* Media 480 Clubes */
@media (max-width: 480px) {
  .container .titulo-secundario {
    font-size: 1.7em;
  }
  .container .texto-principal {
    width: 100%;
  }
  .trayectoria {
    display: flex;
    flex-direction: column;
  }
  .trayectoria .trayectoria-peñarol,
  .trayectoria .trayectoria-madrid,
  .trayectoria .trayectoria-murcia,
  .trayectoria .trayectoria-denver,
  .trayectoria .trayectoria-dallas,
  .trayectoria .trayectoria-serbia {
    display: block;
    margin: 10px;
  }
  .trayectoria .trayectoria__imagenpeñarol {
    margin-left: 15%;
    height: 40vw;
  }
  .trayectoria .trayectoria__imagenmadrid,
  .trayectoria .trayectoria__imagendenver {
    margin-left: 30%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagenmurcia {
    margin-left: 25%;
    height: 50vw;
  }
  .trayectoria .trayectoria__imagendallas,
  .trayectoria .trayectoria__imagenserbia {
    margin-left: 5%;
    height: 40vw;
  }
  .trayectoria .texto-equipo {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
  }
}
/* Media 480 Seleccion */
@media (max-width: 480px) {
  .container .titulo-secundario {
    font-size: 1.7em;
  }
  .container .texto-principal {
    width: 90%;
    font-size: 1.2em;
    padding: 0;
  }
  .container .img-seleccion {
    width: 85vw;
    height: 75vw;
  }
  .seleccion .parrafo-seleccion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
}
/* Media 480 Multimedia */
@media (max-width: 480px) {
  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlights .video {
    height: 85vw;
    width: 85vw;
    margin: 5px;
  }
  .highlights .highlights__nba {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__nba .nba-video {
    width: 90%;
    margin: 5px;
  }
  .highlights .highlights__seleccion {
    width: 90%;
    margin: 10px;
  }
  .highlights .highlights__seleccion .seleccion-video {
    width: 90%;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
