@import "./mixing";

.container {
    @include centrado; 

    #titulo_principal {
        @include centrado;
        @include subrayado;
        color: #edebd7;
        font-size: 3em;
    }

    .titulo-secundario {
        @include centrado; 
        @include subrayado;
        font-size: 2.5em;
        color: #edebd7;
    }

    .img-principal {
        height: 60vw;
        width: 50vw;
        /* height: 700px;
        width: 600px; */
        margin: 15px;
        background-color: $fondo;
    }

    .texto-principal {
        font-size: 1.4em;
        padding: 8px;
        margin-bottom: 30px;
        width: 65%;
    }

    .img-seleccion {
        width: 500px;
        height: 400px;
    }
}

.news {
    @include centrado; 
    margin-top: 20px;

    #titulo-noticia {
        @include subrayado;
        font-size: 2.5rem;
    }

}

.carousel {
    margin-top: 15px;
    margin-bottom: 55px;
    padding: 5px;

    .carousel-item img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .carousel-item a{
        @include centrado; 
        width: 100%;
    }

}